@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
