@model EzPay.WebApp.Models.LoginViewModel

@{
	ViewData["Title"] = "Welcome";
}

<p>@Model.Bills</p>


@*@{var minDP = Model.SettlementTypes.Min(c => c.Downpayment).ToString();
	var maxDP = Model.SettlementTypes.Max(c => c.Downpayment).ToString();
	var Types = Model.SettlementTypes.ToList();}*@

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h2>Downpayment</h2>
			<div class="range">
				<input type="range" name="range" min="10" max="50" step="10" value="50" onchange="DownpaymentSlider(value,Types)">
				<output id="rangeDP">50</output>
			</div>
		</div>
		@*@{var maxInst = Model.SettlementTypes.Where(b => b.Downpayment == Model.Downpayment).Select(c=>c.MaxInstallments); }*@
		<div class="col-xs-6">
			<h2>Installments</h2>
			<div class="range">
				<input id="rangeInstInput" type="range" name="range" min="0" max="48" step="3" value="0" onchange="rangeInst.value=value">
				<output id="rangeInst">0</output>
			</div>
		</div>
	</div>
</div>

<script>
							function SetMin()
							{
								min = 10;
								return min;

							}
							function DownpaymentSlider(value,Types)
							{
								document.getElementById("rangeDP").value = value;

								document.getElementById("rangeInstInput").max= "60";
								document.getElementById("rangeInstInput").min = "30";
								document.getElementById("rangeInst").value = "30";
								instance.web.Model('');
							}
</script>

@*test3*@


<script>
								$(function () {
									$("#rangeDP").slider({
										range: true,
										min: 50,
										max: 200,
										values: [50, 200],
										slide: function (event, ui) {
											$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
										}
									});
									$("#amount").val("$" + $("#slider-range").slider("values", 0) +
										" - $" + $("#slider-range").slider("values", 1));
								});

								$("#rangeDP").slider("option", "max", 60);
								$("#rangeDP").slider("option", "min", 300);
</script>
