@using EzPay.Model.Entities
@using Microsoft.AspNetCore.Identity;

@model EzPay.WebApp.Models.LoginViewModel

@inject SignInManager<Citizen> SignInManager
@inject UserManager<Citizen> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<form asp-area="" asp-controller="Citizen" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="lc">Welcome, @UserManager.GetUserName(User)!</a>
			</li>
			<li>
				<button type="submit" class="btn btn-link navbar-btn navbar-link lc" style="margin-right:15px">Logout</button>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a data-toggle="dropdown" class="dropdown lc">Login &nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					<div class="row">
						<div class="col-md-12">
							<form asp-controller="Citizen" asp-action="Login" method="post" accept-charset="UTF-8" id="login-nav" novalidate>
								<div class="form-group">
									<label asp-for="CitizenId" class="sr-only" for="CitizenId">Citizen Id</label>
									<input asp-for="CitizenId" type="email" class="form-control" id="CitizenId" placeholder="Citizen ID" required>
									<span asp-validation-for="CitizenId" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Password" class="sr-only" for="Password">Password</label>
									<input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password" required>
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="ConfirmPassword" class="sr-only" for="ConfirmPassword">Confirmation</label>
									<input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Confirmation" required>
									<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
									<div class="help-block text-right">
										<a href="">Forgot your password?</a>
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-info btn-block">Connect</button>
								</div>
								<div class="checkbox">
									<center>
										<label asp-for="RememberMe">
											<input asp-for="RememberMe" type="checkbox"> Stay connected
										</label>
									</center>
								</div>
							</form>
						</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
