@model LoginViewModel

<table class="table">
    <thead>
        <tr>
                
        </tr>
    </thead>
    <tbody>


@foreach (var item in Model.Settlements)
{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Installments)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TypeId)
			</td>
			<td>
			<a asp-action="BillsInSettlement" asp-route-id="@item.Id">Show settled bills.</a>
			</td>
		</tr>

}
    </tbody>
</table>
