@model LoginViewModel

<table class="table">
    <thead>
        <tr>
                
        </tr>
    </thead>
    <tbody>

	@foreach (var item in Model.Bills)
	{
		
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.DueDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Amount)
				</td>
				<td>
					@if (item.SettlementId != null)
					{
						<p>Settled</p>
					}
				</td>
			</tr>
		
	}

	
    </tbody>
</table>
