@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using EzPay.Model.Entities
@model EzPay.WebApp.Models.LoginViewModel
@inject SignInManager<Citizen> SignInManager

@{
    ViewData["Title"] = "Login";
}

<div class="container">
	<div class="mtop5c">
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<form asp-controller="Citizen" asp-action="Login" method="post" accept-charset="UTF-8" id="login-nav">
					<div asp-validation-summary="ModelOnly" class="text-danger lc pleft0"></div>
					<div class="form-group">
						<label asp-for="CitizenId" class="sr-only" for="CitizenId">Citizen Id</label>
						<input asp-for="CitizenId" type="email" class="form-control" id="CitizenId" placeholder="Citizen ID" required>
						<span asp-validation-for="CitizenId" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Password" class="sr-only" for="Password">Password</label>
						<input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password" required>
						<span asp-validation-for="Password" class="text-danger"></span>
						<div class="help-block text-right">
							<a href="">Forgot your password?</a>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-info btn-block">Connect</button>
					</div>
					<div class="checkbox">
						<center>
							<label asp-for="RememberMe">
								<input asp-for="RememberMe" type="checkbox" class="lc"> Stay connected
							</label>
						</center>
					</div>					
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
