body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
	width: 100%;
	height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 0.1%;
    padding-right: 0.1%;
}


/******************
    Positioning
******************/

.navbar-brand {
	padding: 10px 15px !important;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
}

.mtop5c {
	margin-top: 5%;
}


/******************
     Styling
******************/

.lc {
	text-transform: none !important;
}


/****************
     Navbar
****************/

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	margin-top: 1px;
	border: none;
	background-color: #393a35;
	color: white;
}
#login-dp .help-block{
	font-size:12px    
}

#login-dp .form-group {
	margin-bottom: 10px;
}

@media(max-width:768px){
	#login-dp{
		background-color: inherit;
		color: #fff;
	}
}
