<center><h2>@ViewBag.Title</h2></center>

<div>
	<div class="container">
		<!--<h3>@ViewBag.Message</h3>-->
		<center>
			<h3>- Our Mission -</h3><br/>
			<h4>We provide the most user-friendly, safe and secure application for your depts management.</h4><br/><br/>
			<p>
				<strong>Ezpay</strong> gives a solution to quickly repay your debts from your device (Windows, iOS, Ubuntu, Android)
				and save you from the time-consuming process of paying to the cashier of each different service.  
			</p>
			<p>
				Navigate yourself through our pages, view your bill's status, decide which one to pay or make a settlement.
			</p>
				<table>
					<tr>
						<td><img src="~/images/about_logo.png"/></td>
					</tr>
				</table>
			<br/>
			<p>
				<strong>At Ezpay we know your needs and we are next to you on the road to fast and secure repayment of each debt of each service.</strong>   
			</p>
		</center>
	</div>
</div>
