<div>
	<div class="container">
		<center>
			<h1 style="font-size:x-large">- Our Mission -</h1><br/>
			<p style="font-size:large">
				Ezpay is an application designed to serve the needs of every citizen around debt management in its municipality.
				We know the difficulty anyone encounters in having their pending issues concentrated,
				and how stressful the payment process can be.
				We work hard to make the payment process as pleasant and easy as possible for you,
				giving a comprehensive and detailed picture of the debts,
				the possibility of immediate payment of them or even the settlement of the amount in installments.
				Leaving debts neatly on the edge you can spend your time where you want and not staying in the queue.
			</p>
			<img src="~/images/bkg.png" class="img-responsive"/>
		</center>
	</div>
</div>
