<!--<center><h2>Welcome to the Portal</h2></center>-->
<div class="jumbotron">
	<div class="container">
		<center><h2>Welcome to EzPay</h2></center>
		<center><h3>We provide the most user-friendly, safe and secure application for your depts management.</h3></center>
	</div>
</div>
<div class="img-wrapper">
	<img src="~/images/acounting.jpg" class="img-style"/>
</div>
