@{
	Layout = "_Maintenance";
}
<div class="jumbotron">
	<div class="container">
		<center><h1>Welcome to EzPay</h1></center>
		<center><h2>We are down for maintenance. <BR> We are sorry for the inconvinience.</h2></center>
	</div>
</div>
<div class="img-wrapper">
	<img src="~/images/acounting.jpg" class="img-style"/>
</div>
